<footer class="site-footer p-5">
  <div class="container">
      <hr>
      <div class="row py-4 gy-4">
          <!-- About -->
          <div class="col-12 col-sm-6 col-lg-3">
              <h5>Pantry Baking</h5>
              <p class="small mb-0">
                  Discover delicious baking recipes using ingredients you already have at home.
              </p>
          </div>

          <!-- Quick Links -->
          <div class="col-6 col-sm-6 col-lg-3">
              <h5>Quick Links</h5>

              <ul class="list-unstyled">
                  <li><a href="/">Home</a></li>
                  <li><a href="/recipes">Recipes</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/contact">Contact</a></li>
              </ul>
          </div>

          <!-- Account -->
          <div class="col-6 col-sm-6 col-lg-3">
              <h5>Account</h5>

              <ul class="list-unstyled">
                  <li><a href="/login">Login</a></li>
                  <li><a href="/register">Register</a></li>
                  <!-- Later:
                  <li><a href="/profile">My Profile</a></li>
                  -->
              </ul>
          </div>

          <!-- More -->
          <div class="col-12 col-sm-6 col-lg-3">
              <h5>More</h5>

              <ul class="list-unstyled">
                  <li><a href="https://github.com/butabuta26/BakeWithWhatUHave" target="_blank">GitHub</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Terms of Use</a></li>
              </ul>
          </div>
      </div>
      <hr>
      <p class="text-center mt-4 mb-0">
          © 2026 Pantry Baking. Made with love and lots of flour.
      </p>

  </div>
</footer>