<footer class="site-footer p-5">
    <div class="container">
      <hr>
      <div class="row py-4">
  
        <div class="col-6 col-md-3">
          <h5>Recipes</h5>
  
          <ul class="list-unstyled">
            <li><a href="#">Breads</a></li>
            <li><a href="#">Cakes</a></li>
            <li><a href="#">Cookies</a></li>
            <li><a href="#">Pastries</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-3">
          <h5>Resources</h5>
  
          <ul class="list-unstyled">
            <li><a href="#">Baking Tips</a></li>
            <li><a href="#">Substitutions</a></li>
            <li><a href="#">Conversions</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-3">
          <h5>Community</h5>
  
          <ul class="list-unstyled">
            <li><a href="#">Blog</a></li>
            <li><a href="#">Newsletter</a></li>
            <li><a href="#">Social Media</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-3">
          <h5>About</h5>
  
          <ul class="list-unstyled">
            <li><a href="#">Our Story</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Privacy</a></li>
          </ul>
        </div>
  
      </div>
      <hr>
      <p class="text-center mt-4 mb-0">
        © 2026 Pantry Baking. All rights reserved.
      </p>

    </div>
</footer>