<nav class="navbar navbar-expand-lg">
    <div class="container-fluid mx-4">
      <a class="navbar-brand" href="/">
        <h3>
            <img src="/images/favicon-pie.png" alt="Logo" width="35" height="35" class="d-inline-block align-text-top">
            Pantry Baking
        </h3>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto navbar-links-cont">
            <li class="nav-item">
                <a class="nav-link" href="/"><h6>Home</h6></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/recipes"><h6>Recipes</h6></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about"><h6>About</h6></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact"><h6>Contact</h6></a>
            </li>
            <% if (user) { %>
              <li class="nav-item">
                  <a class="nav-link" href="/account">
                      <h6>Account</h6>
                  </a>
              </li>          
              <li class="nav-item">
                  <form action="/logout?_method=DELETE" method="POST">
                      <button class="nav-link logout-button" type="submit">
                          <h6>Log Out</h6>
                      </button>
                  </form>
              </li>          
          <% } else { %>          
              <li class="nav-item">
                  <a class="nav-link" href="/login">
                      <h6>Log In</h6>
                  </a>
              </li>          
              <li class="nav-item">
                  <a class="nav-link" href="/register">
                      <h6>Sign Up</h6>
                  </a>
              </li>          
          <% } %>
        </ul>
      </div>
    </div>
</nav>